#students {border: 1px solid gray;
  border-collapse: collapse;
  width: 50%;
  margin: auto;}

#students td{padding:10px;border:1px solid gray;}
#title{text-align:center;}

h1{
  text-align: center;
}
button {
  margin: 5px auto;
  display: block;
  
}